<p>You have deleted the exhibit. <br/></p>
<a class="btn_manager" href="/exhibits/manage">Return to the exhibit admin area.</a>

<a class="btn_manager" href="/manager">Return to the main admin area.</a>
