<h1>Exhibits from the

  <% for exhibit in @exhibits %>
  <%= exhibit.category %>
  <% end %>
category</h1>


<p>
  <% for exhibit in @exhibits %>
  <a href="/exhibits/<%= exhibit.id %>"><%= exhibit.title %></a>
  <% end %>
</p>
