<h1>Exhibits</h1>


<p>
  <% for exhibit in @exhibits %>
  <a href="/exhibits/<%= exhibit.id %>"><%= exhibit.title %></a>
  <% end %>
</p>


<p>Search by category INSERT FORM

</p>


<p>Search by artist INSERT FORM

</p>
