<h1>Exhibits</h1>


<p>
  <% for exhibit in @exhibits %>
  <a href="/exhibits/<%= exhibit.id %>"><%= exhibit.title %></a>
  <% end %>
</p>



<form class="filter_by" action="/exhibits/category" method="get">
  <label for="category-field">Filter by category</label>
  <select name="category">
    <% for exhibit in @exhibits %>
    <option value="<%= exhibit.category %>"><%= exhibit.category %></option>
    <% end %>
  </select>
  <input type="submit" value="Go"/>
</form>
