<h1>WHITE DUCK</h1>

<h2>37 Castle Terrace Edinburgh EH1 2EL</h2>

<section id="view_options">
  <a class="btn_manager" href="/manager">Manager</a>
  <img src="/images/slash.jpeg" alt="slash separator" id="slash_separator">
  <a class="btn_visitor" href="/visitor">Visitor</a>
</section>
