<h1>WHITE DUCK</h1>

art gallery text text text

<section id="view_options">
  <a class="btn_manager" href="/manager">Manager</a>
  <img src="/images/slash.jpeg" alt="slash separator" id="slash_separator">
  <a class="btn_visitor" href="/visitor">Visitor</a>
</section>
