<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Art Gallery</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/artists">Artists</a>
        </li>
        <li>
          <a href="/exhibits">Exhibits</a>
        </li>
      </ul>
    </nav>
    <section id="content">
    <%= yield %>
    </section>
  </body>
</html>
