<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Art Gallery</title>
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="icon" href="/images/duck_icon.png" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/artists">Artists</a>
        </li>
        <li>
          <a href="/exhibits">Exhibits</a>
        </li>
      </ul>
    </nav>
    <section id="content">
    <%= yield %>
    </section>

    <br/><br/>

    <footer>&copy 2018</footer>
  </body>
</html>
