<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WHITE DUCK</title>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Roboto:100,300,400,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="icon" href="/images/duck_icon.png" />
  </head>
  <body>
    <main>
      <nav>
        <ol>
          <li>
            <a href="/artists">Artists</a>
          </li>
          <li>
            <a href="/exhibits">Exhibits</a>
          </li>
        </ol>
      </nav>
      <section id="content">
      <%= yield %>
      </section>
    </main>
    <footer>&copy 2018 WHITE DUCK</footer>
  </body>
</html>
