<h1>Welcome to the WHITE DUCK admin area</h1>

<a class="btn_manager" href="/artists/manage/new">Add a new Artist</a>
<a class="btn_manager" href="/artists/manage">Edit an existing Artist</a>

<a class="btn_manager" href="/exhibits/manage/new">Add a new Exhibit</a>
<a class="btn_manager" href="/exhibits/manage">Edit an existing Exhibit</a>
