body {
  /* background: black url('/images/white_duck.jpg'); */
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 100px;
  margin: 0px;
  font-family: 'Arimo', sans-serif;
}

h2 {
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

nav {
  padding: 0px;
  margin: 0px;
}

ol {
  list-style-type: none;
}

footer {
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}


#slash_separator {
  max-height: 500px;
}
